.*

# except
!.editorconfig
!.eslintrc.json
!.github
!.gitignore
!.gitkeep
!.lintstagedrc.js
!.node-version
!.npmignore
!.npmrc
!.nvmrc
!.prettierignore
!.prettierrc.json
!.lintstagedrc
!.husky
!.storybook
!.vercel

# generated
/node_modules
/dist

# testing
coverage
artifacts
test-results
playwright-report
